.Section {
  width: 100%;
  padding: 50px 0;
  margin-top: 200px;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  width: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.item {
  text-align: center;
  font-size: 1.2em;
}

.circle {
  width: 250px;
  height: 250px;
  background: #ddd;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.title {
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ContainerContentShowcase {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}
.Card {
  width: 200px;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.textShowcase {
  font-size: 1.5em;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-bottom: 200px;
}
