.ContainerPositionCard {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #00b894; */
  flex-direction: column;
  padding-bottom: 50px;
  margin-bottom: 200px;
}

.Gp2 {
  font-size: 1.7rem;
  color: white;
  padding: 30px;
}

.Container-Card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
  height: auto;
}
.Content {
  display: flex;
  flex-direction: column;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
}
.imgG {
  object-fit: cover;
  width: 330px;
  height: 274px;
  border-radius: 15px;
}

/* .Content > p {
    he
} */

/* .price {
  font-size: 1.5rem;
  justify-content: end;
} */

.BannerImg-1 > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 275px;
  max-width: 1918px;
  min-height: 275px;
}
