.ContainerPosition {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.ContainerTextWhy {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
  margin-bottom: 10rem;
}
.TextWhy {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  width: 100%;
  text-align: start;
}
.ContentTextWhy {
  padding: 10px;
  font-size: 1.2em;
  font-weight: 400;
  width: 80%;
  text-align: start;
}

.ContainerPosition > h1 {
  font-size: 2rem;
  text-align: center;
}
