.Navfixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navone {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.Container_NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: auto;
  border: 1px solid black;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
}

.Logo {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  gap: 5px;
}

.LogoBitwork {
  object-fit: cover;
  width: 47px;
  height: 27px;
  /* margin-right: 20px; */
}
/* .Bitwork{
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

.OnePlatform {
  font-size: 14px;
  font-weight: 600;
  /* margin-right: 31.25vw;
    margin-left: 31.25rem; */
}
.ProfileSetting {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Profile img {
  width: 50px;
  height: 50px;
}

.navtwo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.Container_NavBarTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 65%;
  height: auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
}

.Container_NavBarTwo .MarketPlace,
.Container_NavBarTwo .JobBoard,
.Container_NavBarTwo .Community {
  font-size: 1em;
  font-weight: 600;
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .Container_NavBar {
    /* flex-direction: column; */
    justify-content: space-between; /* จัดให้อยู่กลาง (แนวตั้ง) */
    width: 95%;
    padding: 5px;
    gap: 10px; /* เพิ่มระยะห่างระหว่างชิ้นที่ซ้อนกัน */
  }
  .navone {
    flex-direction: column;
    gap: 10px; /* เพิ่มระยะห่างระหว่างชิ้นที่ซ้อนกัน */
  }
  .LogoBitwork {
    margin-right: 0; /* เอา margin ขวาออก */
  }

  /* เราต้องเอา margin auto ออก เพื่อให้มันมาอยู่กลาง */
  .OnePlatform {
    margin: 0;
  }
  .Profile img {
    display: none;
  }
  .Container_NavBarTwo {
    min-width: 370px;
  }
}
